version: "3.9"

services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    restart: unless-stopped

  api:
    build: .
    container_name: rag_api
    ports:
      - "8000:8000"
    volumes:
      - ./storage:/app/storage
    env_file:
      - .env
    depends_on:
      - ollama
    environment:
      OLLAMA_HOST: "http://ollama:11434"
    restart: unless-stopped

volumes:
  ollama_data:
